.boligverdi {
  max-width: 1200px;
  padding: auto 20px;
  margin: 0 auto;
  overflow: hidden;
}

.boligverdi-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 25%;
}

.hallaien-headline {
  justify-content: left;
  margin-bottom: 60px;
}

.hallaien-headline h1 {
  margin: 20px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.05em;
  font-feature-settings: "tnum" on, "lnum" on;
}

.hallaien-headline h3 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 156%;
  letter-spacing: 0.025em;
  font-feature-settings: "tnum" on, "lnum" on;
}

.hallaien-headline h4 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.015em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #8a929f;
}

.bolig {
  display: flex;
  position: relative;
  width: 617px;
  height: 163px;
  background: #2a3146;
  border-radius: 10px;
}

.addresse {
  position: absolute;
  width: 250px;
  height: 34px;
  left: 39px;
  top: 18px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #8a929f;
}

.estimert_boligverdi_teskt {
  position: absolute;
  width: 200px;
  height: 28px;
  left: 39px;
  top: 57px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.015em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #f6f3f3;
}

.estimert-boligverdi {
  position: absolute;
  width: 200px;
  height: 28px;
  left: 39px;
  top: 79px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.015em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #12d499;
}

.bolig .rødpil {
  width: 35px;
  color: red;

  position: absolute;
  left: 35px;
  top: 115px;

  transform: scale(-1, 1);
}

.søk-om-lån {
  width: 280px;
  height: 53px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  color: white;
  background: #185dc1;
  margin-bottom: 30px;
  margin-top: 70px;
  border-radius: 100px;
  letter-spacing: 0.05em;
  border: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .søk-om-lån {
    width: 160px;
  }
}

.neste-prisantydning {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 100px;
}

.neste-prisantydning a {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 156%;
  letter-spacing: 0.015em;
  text-decoration-line: underline;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #8a929f;
}

.neste-prisantydning .rødpil {
  transform: scale(-1, 1);
}

.dropbtn {
  background: #2a3146;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  height: 60px;
  padding: 12px 15px;
  text-align: left;
  color: white;
  border: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.015em;
  font-feature-settings: "tnum" on, "lnum" on;

  position: relative;
  z-index: 2;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 200px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 70%;
  background: #23293b;
  min-width: 160px;
  z-index: 1;
  padding: 20px 15px;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;

  letter-spacing: 0.05em;
  font-feature-settings: "tnum" on, "lnum" on;
}

.dropdown-content.active {
  display: block;
}

.dropdown-indicator {
  height: 30px;
  width: 30px;
  color: red;
}

.dropdown-indicator.active {
  transform: rotate(90deg);
  transition-duration: 0.3s;
}

.dropdown-indicator.inactive {
  transition-duration: 0.3s;
}
