.boligverdi {
  max-width: 1200px;
  padding: auto 20px;
  margin: 0 auto;
  overflow: hidden;
}

.boligverdi-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 25%;
}

.hallaien-headline {
  justify-content: left;
  margin-bottom: 60px;
}

.hallaien-headline h1 {
  margin: 20px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.05em;
  font-feature-settings: "tnum" on, "lnum" on;
}

.hallaien-headline h3 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 156%;
  letter-spacing: 0.025em;
  font-feature-settings: "tnum" on, "lnum" on;
}

.hallaien-headline h4 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.015em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #8a929f;
}

.bolig {
  display: flex;
  position: relative;
  width: 617px;
  height: 163px;
  background: #2a3146;
  border-radius: 10px;
}

.addresse {
  position: absolute;
  width: 167px;
  height: 34px;
  left: 39px;
  top: 18px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #8a929f;
}

.estimert_boligverdi_teskt {
  position: absolute;
  width: 200px;
  height: 28px;
  left: 39px;
  top: 57px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.015em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #f6f3f3;
}

.estimert-boligverdi {
  position: absolute;
  width: 200px;
  height: 28px;
  left: 39px;
  top: 79px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.015em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #12d499;
}

.bolig .rødpil {
  width: 35px;
  color: red;

  position: absolute;
  left: 35px;
  top: 115px;

  transform: scale(-1, 1);
}
