.Loading {
  max-width: 1200px;
  min-height: 900px;
  padding: auto 20px;
  margin: 0 auto;
  overflow: hidden;
}

.loadingImg {
  margin: 10% auto;
  text-align: center;
}

.BulderB-logo {
  height: 200px;
  width: 400px;
  animation-name: bulderLoadingAnimation;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

@keyframes bulderLoadingAnimation {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
