.BoligverdiInfo {
  max-width: 1200px;
  padding: auto 20px;
  margin: 0 auto;
  overflow: hidden;
}

.BoligverdiInfo p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0.05em;
  font-feature-settings: "tnum" on, "lnum" on;
}

.BoligverdiInfo .rødpil {
  margin: 0 50px;
  margin-top: 50px;
}

.BoligverdiInfo .rødpil svg {
  width: 35px;
  color: #ff4d5b;
  cursor: pointer;
}

.boligverdiInfoBack-btn {
  background: none;
  border: none;
}

.boligverdiInfo-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 25%;
  padding-bottom: 40px;
}

@media (max-width: 650px) {
  .boligverdiInfo-grid {
    padding: 0 5%;
  }
}

.infoSide-husContainer {
  position: relative;
}

.bildeAvHus-infoSide {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 75%;
  margin-bottom: 30px;
  border-radius: 10px;
}

.infoSide-bildeLayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: absolute;
  height: 20%;
  width: 100%;
  background: linear-gradient(180deg, #ffffff65 5%, rgba(0, 0, 0, 0.9) 120%), #d9d9d983;
  bottom: 33px;
  border-radius: 0 0 10px 10px;
}

.infoSide-bildeAddresse {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #171e30;
}

.infoSide-estimertPris {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.15em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #171e30;
}

.infoSide-estimertPris .pris {
  color: #12d499;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.025em;
}

.h2påBoligverdiInfo {
  margin: 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 156%;

  letter-spacing: 0.025em;
  font-feature-settings: "tnum" on, "lnum" on;
  /* color: #ff4d5b; */
}

.husInformasjon {
  display: flex;
  justify-content: space-between;
}

.husInformasjon p {
  margin: 0 0;
}

hr.line {
  margin-top: 2px;
  width: 100%;
  opacity: 0.7;
  border: 1px solid #8a929f;
}

.boligverdiInfo-ol {
  margin: 0 0;
  padding: 5px 0;
  padding-left: 20px;
  margin-bottom: 30px;
}

.boligverdiInfo-ol li::marker {
  color: #ff4d5b;
}

.boligverdiInfo-ol p {
  margin: 2px 0;
}

.boligverdiInfo-buttons-grid {
  display: flex;
  justify-content: space-between;
}

.boligverdiInfo-søk-om-lån,
.boligverdiInfo-sjekk-rente {
  font-family: "Aeonik";
  width: 45%;
  height: 73px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  margin-bottom: 30px;
  margin-top: 70px;
  border-radius: 100px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.boligverdiInfo-søk-om-lån {
  border: none;
  color: white;
  background: #185dc1;
}

.boligverdiInfo-sjekk-rente {
  border: 2px solid #185dc1;
  color: white;
  background: transparent;
}

.boligverdiInfo-sjekk-rente:hover {
  background: #185dc1;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
}

.boligverdiInfo-søk-om-lån:hover {
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
}

.boligverdiInfo-neste-prisantydning {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

.boligverdiInfo-neste-prisantydning a {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 156%;
  letter-spacing: 0.015em;
  text-decoration-line: underline;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #8a929f;
}

.boligverdiInfo-neste-prisantydning .rødpil-neste-prisantydning {
  margin-left: 10px;
  width: 30px;
  color: #ff4d5b;
  transform: scale(-1, 1);
}

.boligverdiInfo-neste-prisantydning-link:hover {
  color: #ff4d5b;
  text-decoration-line: none;
}

